*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
   
    font-family: grenadine-mvb, sans-serif;
    font-style: normal;
}

.carousel-indicators > button{
    border-radius: 50%;
    width: 12px !important;
    height: 12px !important;
}

.carousel-inner{
    height: 675px
}

/*Navbar */
nav{
    background-color: #1D1D1B;
    justify-content: space-between;
}

nav > div > ul > .active > .subrayado{
    display: flex;
    background-color: #F6A02A;
    height: 0.25rem;
}

nav > div > ul > .active > a{
    display: block;
    color: #E83F40;
    background-color: #1D1D1B;
}

.nav-link, .nav-link:hover{
    color: #fff;
}

/* Home */

#infoCompra{
    display: flex;
    background-color: #1D1D1B;
    justify-content: space-around;
    height: 20rem;
    flex-direction: column;
    align-items: center;
}
#infoCompra >div{
    width: 100%;
    display: flex;
    justify-content: space-around;

}
#infoCompra >div> img{
    width: 12rem;

}

#infoCompra >button{
    background: #E83F40;
    box-shadow: 0px 7px 4px #F6A02A;
    border-radius: 30px;
    border: 0;
    padding: 10px 43px;
    gap: 20px;
    color: white;
}



/* seccion destacados */
#seccionDestacados{
    height: 30rem;
    
}
#seccionDestacados >h2{
    size: 52px;
    font-weight: 600;
    margin: 1rem 0 1rem 0;
    
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 15rem;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
}

/* Cards */
.swiper-slide > .card{
    width: 18rem;
    border-radius: 45px
}
.swiper-slide > img{
    width: 290px;
    height: 251px;
    border-radius: 44px 44px 0px 0px;
}
.swiper-slide > .card > div{
    padding: 10px 30px;
    gap: 10px;
    background-color: #1D1D1B;
    color: #F6A02A;
    width: 290px;
    height: 106px;
    background: #1D1D1B;
    border-radius: 0px 0px 44px 44px;
}
.swiper-slide > .card >h5{
    background-color: #1D1D1B;
    color: #F6A02A;
}

.swiper-button-next, .swiper-button-prev{
    border-radius: 50%;
    background-color: #1D1D1B;
    width: 70px;
    height: 70px;
}
.swiper-button-next::after, .swiper-button-prev::after{
    color: #F6A02A;
    }

#seccionDestacados > div> button{
    background: #1D1D1B;
    border-radius: 30px;
    border:0;
    margin: 1rem 0 1rem 0;
}
/* seccion porque */

#seccionPorque{
    margin-top: 5rem;
    height: 40rem;
    background-color: #F6A02A;
}
#seccionPorque >h2{
    font-weight: 500;
    font-size: 3.2rem;
    padding: 5rem 0 5rem 0;
}
.porQue{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.porqueViviVegan{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
}
.porqueViviVegan > h3{
    font-weight: 500;
    font-size: 2.5rem;
}
.porqueViviVegan > img{
    width: 8rem;
}


/*footer*/
footer{
    display: flex;
    height: 15rem;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    color: rgba(217, 217, 217, 1);
}

.imgLogo{
    width: 6rem;
    height: 5rem;
}

.suscribite > div > input{
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background: #F2F2F2;
    border-radius: 30px;
    width: 100%;
    height: 1.5rem;
}

.suscribite > div > button{
    background: #E0E0E0;
    border-radius: 30px;
    width: 5rem;
    height: 2.5rem;
}


/* nosotros */
#quienesSomos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.imgQuienesSomos >img{
    width: 15rem;
}
#dondeEstamos{
    margin-top: 5rem;
}

/* como comprar */

h2{
    text-align: center;
}
#comoComprar{
    display: flex;
    flex-direction: column;
}


.pasos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.pasos > img{
    width: 18rem;
}
.pasos > div{
    width: 15rem;
}
h2{
    
}
.oculto{
    display: none;
}
.visible{
    display: flex;
    margin: 5rem;
    flex-direction: column;
}

.visible > input{
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
    height: 1.5rem;
}

.pedidos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pedido{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pedido> img{
    width: 8rem;
}
/* CONTACTO*/

.form {
    max-inline-size: 550px;
    margin: auto;
}

.form label {
    display: block;
    margin-block-start: 1em;
    margin-block-end: .5em;
    padding-inline-start: .5em;
}

.form label span {
    color: #DA1414;
}

.form input, .form textarea {
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    padding: .8em;
    border-radius: .5em;
    border: 1px solid #858C94;
}
.form textarea {
    margin-block-end: 2em;
    font-family: inherit;
}

input::-webkit-input-placeholder {
    color: #0F0A0A88;
}

.btn{
    color: yellow;
    
}
.contact {
    margin-block-end: 5em;
}

.titulo-contacto{
    text-align: center;
}



.container {
    width: 90%;
    margin: 100px auto;
    position: relative;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 10px;
    filter: drop-shadow(0 0 10px
        rgba(0,0,0,0.5));
}

.acordeon{
    position: relative;
    
}

.title{
    margin-right: 30px;
    font-family: 'Trueno';
    font-style: normal;
    font-size: 52px;
    
} 

.content-acordeon{
    margin-top: 35px;
    margin-right: 50px;
}
 

.question-answer{
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    
}
.question{
    display: flex;
    justify-content: left;
}

.title.question{
    margin: 1.4rem 0rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #1D1D1B;

}

.fas{
    color: #E83F40;
}

.question-btn{
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

.up-icon{
    display: none;
}

.answer{
    font-size: 1.2rem;
    line-height: 1.8;
    display: none;
}


.show-text .answer{
    display: block;
    transition: 12;
}

.show-text .up-icon{
    display: inline;
}

.show-text .down-icon{
    display: none;
}

p{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px 40px;
gap: 10px;

width: 1000px;
height: 83.5px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
}



/* PRODUCTOS */

.logo{
    width: 70px;
}
.titulo-productos{
    text-align: center;
}

/* PRODUCTOS */

.titulo-productos{
    text-align: center;
}

#categorias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    
}

.filtroCategoria{
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 2rem;
}
.filtroCategoria > p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: yellow
}


.filtroCategoria > img{
    width: 12rem;
}


.redes{
    width: 30px;
}