*{
    padding: 0;
    margin: 0;
}


.carousel-inner{
    height: 675px
}

#infoCompra{
    display: flex;
    margin-top: 5rem;
    justify-content: space-around;
}

/* seccion destacados */
.carrousel__contenedor{
    position: relative;
}

.carrousel__anterior,
.carrousel__siguiente{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: red;
    opacity: 20%;
}
.carrousel__anterior:hover,
.carrousel__siguiente:hover {
	opacity: 100%;
}

.carrousel__anterior{
    left: -30px;
}

.carrousel__siguiente{
    right: -30px;
}

.carousel__lista {
	overflow: hidden;
}

.carousel__elemento {
	text-align: center;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #fff;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}

/* seccion porque */

#seccionPorque{
    margin-top: 5rem;
}
.porQue{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.porqueViviVegan{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.porqueViviVegan > img{
    width: 8rem;
}


/*footer*/
footer{
    display: flex;
    margin-top: 5rem;
    margin-bottom: 5rem;
    flex-direction: row;
    justify-content: space-around;

}

.suscribite > input{
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
    height: 1.5rem;
}

/* nosotros */
#quienesSomos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.imgQuienesSomos >img{
    width: 15rem;
}
#dondeEstamos{
    margin-top: 5rem;
}

/* como comprar */

#comoComprar{
    display: flex;
    flex-direction: column;
}

.pasos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.pasos > img{
    width: 18rem;
}
.pasos > div{
    width: 15rem;
}

.oculto{
    display: none;
}
.visible{
    display: flex;
    margin: 5rem;
    flex-direction: column;
}

.visible > input{
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
    height: 1.5rem;
}
